# C++26
build --cxxopt=-std=c++26
build --host_cxxopt=-std=c++26

# Platform-specific
build:macos --cxxopt=-stdlib=libc++

# Required for doctest
build --cxxopt=-Wno-gnu-zero-variadic-macro-arguments

# Output
build --show_timestamps
